body {
    padding: 9px;
    margin: 10px;
}

header {
 background-color: #808080;
 background-image: url("../images/flywheel.jpg");
 padding: 15px;
 background-repeat: space;
 background-size: 100%;
 margin-bottom: 0;
}

h1 {
 text-align: center;
    text-transform: uppercase;
    color: #fff;
}

h2 {
    margin-top: 0;
    font-size: 38px;
    padding: 20px;
}

nav a {
    display: inline-block;
    margin:5px 50px 30px 50px;
    text-decoration: none;
    border-radius: 3px;
    padding: 15px 25px;
    background-color: rgba(240, 255, 255, 0.3);
    width:13%;
    text-align: center;
    color: #000;
    font-weight: 600;

}

.active {
    background-color: rgba(240, 255, 255, 1);
}

p {
    font-size: 20px;
    padding: 10px;
}

.left {
    display: block;
    background-color: #008000;
    width: 25%;
    height: 120%;
    float: left;
    align-items: center;

}

.right {
    width: 100%;
    float:inline-start
}

img {
    border: 3px solid #000;
    width: 80%;
    margin: 20px 30px;
    align-self: center;

}


